@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* main edits */
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

li {
	list-style: none;
}

.head {
	height: 100vh;
	background-image: url('../img/header.jpeg');
	border-right: 10px solid #222;
}

.welcome,
.about,
.work {
	line-height: 2em;
	padding: 130px 0px 0px 130px;
}

.about h5 {
	text-decoration: underline;
}

.work-content p {
	border-left: 5px solid #f1f1f1;
	padding-left: 5px;
}

.content.active {
	display: block;
}

.links a,
.contactLink {
	color: #222;
	font-size: 3em;
	line-height: 4.8em;
	transition: 500ms ease;
}

.social a {
	color: #222;
	text-decoration: none;
	transition: 500ms ease;
}

.modal-footer {
	margin: auto;
}

.modal-footer a {
	display: inline;
	padding: 0 10px;
}

/* hide mobile links */
.social-mobile {
	display: none;
}

/* animation */

.head,
.links,
.contactLink {
	animation: fadein 2s;
}

.content {
	display: none;
	animation: fadein 2s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* hover effects */

.links a:hover,
.contactLink:hover {
	letter-spacing: 0.1em;
	text-decoration: underline !important;
}
.pointer:hover {
	cursor: pointer;
}
.social a:hover {
	font-size: 1.1em;
}

/* scroll box */

.work-content {
	height: 400px;
	overflow-y: scroll;
}

.work-content::-webkit-scrollbar {
	display: none;
}

/* mobile */

@media (max-width: 990px) {
	/* main edits */
	.head {
		height: 50vh;
		border-right: none;
		background-position: center;
		border-bottom: 10px solid #222;
	}
	.welcome .col-lg-12 {
		padding: 30px;
		line-height: 2em;
		font-size: 1.2em;
	}
	.welcome p {
		padding: 50px;
	}

	.content {
		padding: 40px 50px;
		text-align: center !important;
	}

	.work-content {
		padding: 20px 0;
	}

	.social-mobile {
		position: fixed;
		bottom: 0;
		left: 5%;
		z-index: 1;
		width: 90%;
	}

	.social-mobile .col-sm-12 {
		padding: 2px;
	}
	.social-mobile a {
		color: white;
		width: inherit;
	}

	/* hide/show content */
	.links,
	.contactLink,
	.social,
	.mobile-hide {
		display: none;
	}
	.content,
	.social-mobile {
		display: block;
	}
}
