@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.work-content::-webkit-scrollbar {
	display: none;
}

.head {
	height: 100vh;
	background-image: url('../img/header.jpeg');
	border-right: 10px solid #222;
}

.welcome,
.about,
.work {
	line-height: 2em;
	padding: 130px 0px 0px 130px;
}

.work-content {
	height: 400px;
	overflow-y: scroll;
}

.work-content p {
	border-left: 5px solid #f1f1f1;
	padding-left: 5px;
}

.about .row {
	height: 80px;
}
.head,
.links,
.contactLink {
	animation: fadein 2s;
}

.content {
	display: none;
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.content.active {
	display: block;
}

.links li,
.contactLink li {
	list-style: none;
}

.links a,
.contactLink a {
	color: #222;
	font-size: 3em;
	line-height: 4.8em;
	transition: 500ms ease;
}

.links a:hover,
.contactLink a:hover {
	letter-spacing: 0.1em;
}

.social {
	padding-top: 15%;
}

.social a {
	color: #222;
}

.social a:hover {
	color: #999;
	text-decoration: none;
}
.social-mobile {
	display: none;
}

.modal-footer,
.modal-footer .row {
	display: block;
}
.modal-footer h3 {
	text-align: center;
}

@media (max-width: 990px) {
	body {
		background-color: #eeeeee;
		color: #222;
	}

	.head {
		height: 50vh;
		border-right: none;
		background-position: center;
		border-radius: 0 0 160px 160px;
	}
	.welcome .col-lg-12 {
		padding: 30px;
		line-height: 2em;
		font-size: 1.2em;
	}

	.about,
	.work,
	.content {
		line-height: 1.5em;
		padding: 40px 50px;
		text-align: center !important;
	}
	.links,
	.contactLink,
	.social,
	.mobile-hide {
		display: none;
	}
	.content,
	.social-mobile,
	.work {
		display: block;
	}

	.social-mobile {
		position: fixed;
		bottom: 0;
		left: 5%;
		z-index: 1;
		width: 90%;
	}

	.social-mobile .col-sm-12 {
		padding: 2px;
	}
	.social-mobile a {
		color: white;
		width: inherit;
	}
}
